body{
    padding: 5px;
}
li {
    float: left;
    width: 600px;
    font-weight: 600;
    line-height: 24px;
}
a {
    float: left;
    text-decoration: none;
}
img {
    float: left;
    padding-right: 5px;
}

button {
    color: #ffffff;
    margin: 5px;
    float: right;
    background-color: rgb(110, 89, 89);
    border-color: rgb(110, 89, 89);
}
.addAll{
    position: absolute;
    top: 5px;
    right: 5px;
    padding: 5px;
}